@page
@using EmployeeApp.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button class="btn btn-primary" href="">
        <a href="/Employees/Index"><h2 style="color: aliceblue;">Employee List</h2></a>
         
    </button>
    <hr />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
